{{>header}}
{{>navbar}}
<body>
    <section class="container my-4">
        <div class="mb-3">
<<<<<<< HEAD
            <a href="/single/{{user.id}}" class="btn btn-primary">Show Account</a>
=======
            <a href="single.html" class="btn btn-primary">Show Account</a>
>>>>>>> origin
        </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Acc.Num</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Intial Balance</th>
<<<<<<< HEAD
                        <th>Add</th>
                        <th>Withdraw</th>
=======
>>>>>>> origin
                    </tr>
                    
                </thead>
            <tbody id="addDraw">
                 {{#if isNotFound}}
<<<<<<< HEAD
                 <tr> 
                <td colspan="7" class="bg-danger text-white ">No Users Yet</td> 
                 </tr>
            {{else}}
            <tr>
           <td>{{user.id}}</td>
=======
            <td colspan="6" class="bg-danger text-white ">No Users Yet</td>
            {{else}}
             <td>{{user.id}}</td>
>>>>>>> origin
          <td>{{user.name}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.initial}}</td>
          <td>{{user.transactions}}</td>
<<<<<<< HEAD
            </tr>
            {{/if}}
            {{#if isTransactioned}}
            {{!-- {{#each arr}} --}}
            <tr>
                <td colspan="4">The added money ={{user.add}} ,The withdrawed money ={{user.withDraw}} and the total balance={{user.initial}}</td>
                <td>{{user.initial}}</td>
                <td>{{user.add}}</td>
                <td>{{user.withDraw}}</td>
            </tr>
            {{!-- {{/each}} --}}
=======
>>>>>>> origin
            {{/if}}
            </tbody>
        </table>
        <form method="post" id="addDrawForm">
            <div class="btn-3">
                <label>Add</label>
                <input type="number" name="add" class="form-control">
            </div>
            <div class="btn-3">
               <label>Withdraw</label>
               <input type="number" name="withDraw" class="form-control">
           </div>
           <div>
               <button class="btn-3 btn btn-primary">Submit</button>
           </div>
        </form>
         
                        
    </section>
</body>
</html>
{{>footer}}